
header {    
    background-image: url("../assets/delfi-de-la-rua-vfzfavUZmfc-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 70vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 {
        font-size: 6rem;
        font-family: skyfont;
        letter-spacing: 5px;
       
    }

    p {
        font-size: 2rem;
    }    
}


