
.userPost {
    // background-color: #3D5467;
    padding: 50px 0;    

    ul {
        display: flex;  
        flex-wrap: wrap;
        list-style: none;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 50px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.322);
        
        
        li {
            width: calc(( 100% / 3 ) - 30px);
            min-width: 300px;   
            padding: 10px;
            border-radius: 20px;
            background-color: rgb(233, 233, 233);
            height: fit-content;
            box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.438);
            margin-bottom: 30px;
            background-image: url("../assets/passport.png");
            
            .flexTop {
                display: flex;
                justify-content: space-between;
                // align-items: center;

                h2 {
                    padding: 20px;
                    height: fit-content; 
                    font-size: 2rem;  
                    text-align: right;  
                    font-family: 'Caveat', cursive;
                   
                             
                }

                figure {
                    width: 50px;
                    height: 70px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 10px 0 20px 20px;
                    figcaption {
                        position: relative;
                        top: 5px;
                    }
                    
                    img {
                        border: 1px solid #706563;
                        border-radius: 50%;
                    }
                }
            }

            .comment {
                 border: 1px solid red;
                padding: 20px;                
                width: 100%;
                background-color: white;  
                border-radius: 20px;              
            }            
        }
    }
}
