
.userPost {
    background-color: gray;
    padding: 50px 0;
}

ul {
    display: flex;  
    list-style: none;
    justify-content: space-between;
    
    li {
        width: calc(( 100% / 3 ) - 30px);
        border: 1px solid black;    
        padding: 10px;
        border-radius: 20px;
        background-color: white;
        
        .flexTop {
            display: flex;
            justify-content: space-between;

            h2 {
                margin-right: 20px;
            }

            figure {
                width: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        .comment {
            border: 1px solid black;
            padding: 20px;
        }
        
    }
}


