
.userForm {
    padding: 50px 0;
}

.flexUserForm {
    display: flex;
    justify-content: space-between;
    

    .leftPanel {        
        display: flex;
        align-items: center;
        text-align: center;
        padding: 10px;
        width: 20%;
        border-radius: 10px;
            padding: 10px;
            border: 1px solid grey;
      
    }

    .form {
        width: 50%;    
        
        .flexForm {
            display: flex;
            justify-content: space-between;
        }

        input {
            width: 49%;
            margin-bottom: 5px;
            border-radius: 10px;
            padding: 10px;
        }

        select {
            width: 100%;
            margin-bottom: 5px;
            border-radius: 10px;
            padding: 10px;
        }

        textarea {
            width: 100%;
            margin-bottom: 5px;
            resize: none;
            border-radius: 10px;
            padding: 10px;
        }

        button {
            width: 40%;
            border-radius: 10px;
            padding: 10px;
        }
    }
    
    .rightPanel {        
        width: 20%;   
      
        .imageContainer {
            width: 100%;
            height: 100%;

            img {
                height: 100%;
                object-fit: cover;
                object-position: right;
                border-radius: 10px;
               
                
            }
        }

    }
}


